# Jekyll .gitignore
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Ruby artifacts
Gemfile.lock

# No backup files
\#*\#
assets/img/.DS_Store
experimental/.DS_Store
experimental/assets/.DS_Store
.DS_Store
.DS_Store
