<!-- Scroll to Top button -->
<button class="scroll-to-top" title="Back to Top">
  <img alt="Fish" src="/assets/img/logo.svg"/>
</button>

<!-- Site Footer -->
<footer class="site-footer">
  <nav class="footer-nav">
    <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
    <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
    <a class="page-link" href="{{ site.subscribe_url | absolute_url }}">Subscribe</a>
  </nav>

  <div class="aux-links">
    <a class="page-link" href="{{ "/Terms-of-Service/" | relative_url }}">Terms of Service</a>
    <a class="page-link" href="{{ "/licenses/" | relative_url }}">Licenses</a>
  </div>

  <div class="socials">
    <a class="social-link instagram" href="https://instagram.com/{{ site.externals.instagram }}" target="_blank" title="@{{ site.externals.instagram }}"></a>
    <a class="social-link facebook" href="https://facebook.com/{{ site.externals.facebook }}" target="_blank" title="{{ site.externals.facebook }}"></a>
    <a class="social-link email" href="mailto:{{ site.externals.email }}" target="_blank" title="{{ site.externals.email }}"></a>
  </div>

  <p>{{ site.title }}</p>
</footer>
