@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font: $body-font;
  display: flex;
  flex-flow: column;

  color: white;

  background-image: url("/assets/img/background-blurred.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
  padding: 2rem;
  min-height: calc(100vh - 10rem);
}

a {
  color: white;
}

h1 {
  font: $title-font;
}

img {
  max-width: 100%;
}

@import "header";
@import "footer";
@import "image";
@import "page";
@import "issue";
@import "article";
@import "quiz";
@import "game";
