$top-color: #039e95; // Top bar
$nav-color: #28ded5; // Nav
$nav-text-color: #2d5e5c; // Nav text
$light-blue: #aefbff; // Box color

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Open+Sans:wght@300;700&display=swap");

// font-style font-variant font-weight font-size/line-height font-family
$nav-font: normal normal 700 1em / normal "Open Sans", sans-serif;
$title-font: normal normal 600 2em / normal "Dosis", sans-serif;
$body-font: normal normal 300 1em / normal "Open Sans", sans-serif;

/*
 * Open Sans hebrew Bold nav font
 * Dosis Semi Bold title font
 * Open Sans Light body font
*/
