.article-wrapper {
  p {
    margin: 1em 0;
  }

  .description {
    text-align: center;
    font-style: italic;
  }

  h2 + .description {
    text-align: left;
  }

  .author {
    font-weight: bold;
  }
}
