.carousel {
  margin: auto;
  position: relative;

  &__prev,
  &__next {
    --size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: calc(4 * var(--size));
    height: calc(4 * var(--size));
    background-color: #193536;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @media only screen and (max-width: 600px) {
      --size: 0.5rem;
    }
  }

  &__prev {
    left: calc(-2 * var(--size));

    &::before {
      content: "";
      transform: translateX(-30%);
      border-right: calc(1.5 * var(--size)) solid white;
      border-left: calc(1.5 * var(--size)) solid transparent;
      border-top: var(--size) solid transparent;
      border-bottom: var(--size) solid transparent;
    }
  }

  &__next {
    right: calc(-2 * var(--size));

    &::before {
      content: "";
      transform: translateX(30%);
      border-left: calc(1.5 * var(--size)) solid white;
      border-right: calc(1.5 * var(--size)) solid transparent;
      border-top: var(--size) solid transparent;
      border-bottom: var(--size) solid transparent;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  &__slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    position: relative;
    height: min-content;

    img {
      width: 100%;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 2em;
      margin: 1.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.7);

      @media only screen and (max-width: 600px) {
        font-size: 1em;
        position: relative;
        background: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
