body {
  counter-reset: question;
}
.question {
  text-align: center;
  margin-bottom: 3rem;
  font: $title-font;

  &:first-of-type {
    padding-top: 1rem;
    border-top: 2px solid $nav-text-color;
  }

  h2 {
    text-transform: capitalize;
    font-size: 1.25em;

    &::before {
      counter-increment: question;
      content: "QUESTION " counter(question) ": ";
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 0.9rem;

    h2 {
      font-size: 1.5em;
    }
  }
}
.answers {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 2rem 0;

  .answer {
    color: $nav-text-color;
    background-color: $light-blue;
    position: relative;

    button {
      background: none;
      border: none;
      outline: none;
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      padding: 1rem;
      font: inherit;
      font-size: 1.5em;
      text-align: center;
      hyphens: auto;
      cursor: pointer;

      &:disabled {
        cursor: initial;
      }

      &.selected {
        color: black;
        border: 8px solid #4DB5BC;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    @media only screen and (max-width: 800px) {
      button {
        position: relative;
      }

      &::after {
        content: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    gap: 1rem;
    margin: 1rem 0;
  }
}
.result {
  display: none;
  text-align: center;
  background-color: darken($light-blue, 20%);
  color: black;
  padding: 2rem;
  font-size: 1.5em;

  p {
    margin-top: 1rem;
    font-style: italic;
  }
}