.ticker {
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: black;
  overflow: hidden;

  .ticker-item {
    margin-right: 20rem;
    padding: 0.15rem 0;
    flex: 1 0 0;
    color: red;
    white-space: nowrap;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
  }
  
  &::before,
  &::after {
    content: "";
    flex: 0 0 100%;
  }
}
