---
layout: default
---

{{ content }}

<ul>
  {%- for post in paginator.posts -%}
    <li>
      <a href="{{ post.url | relative_url }}">
        {% if post.thumbnail %}
          <img style="max-width: 20%;" src="{{ post.thumbnail | relative_url }}" alt="{{ post.thumbnail | relative_url }}"><br>
        {% endif %}
        {{ post.title | escape }}
      </a>
    </li>
  {%- endfor -%}
</ul>

{%- if paginator.previous_page -%}
  <a href="{{ paginator.previous_page_path }}">Previous page</a>
{%- else -%}
  Previous Page
{%- endif -%}
&nbsp;|&nbsp; 
{%- if paginator.next_page -%}
  <a href="{{ paginator.next_page_path }}">Next Page</a>
{%- else -%}
  Next Page
{%- endif -%}