---
layout: default
---


{% assign articles = site.articles | where_exp:"article", "article.date == page.date" | sort: "order", "last" %}

{% if page.pdf %}
  <a href="{{ page.pdf }}" class="download-pdf-link" target="_blank">[ Download PDF ]</a>
{% endif %}

<section id="toc">
  <h2>
    <span>Table of </span>
    <span>Contents</span>
  </h2>
  <ol class="toc-list">
    {% for article in articles %}
      <li>
        <a href="#{{ article.slug }}">
          {{ article.title | escape }}
        </a>
      </li>
    {% endfor %}
  </ol>
</section>

{% for article in articles %}
  <hr>
  <div id="{{ article.slug }}" class="article-wrapper">
    <h2>{{ article.title }}</h2>
    {% if article.author %}
      <div class="author">By: {{ article.author }}</div>
    {% endif %}
    <a href="{{ article.url | relative_url }}">Link to Standalone Article</a>
    <br>
    {{ article.content | markdownify }}
  </div>
{% endfor %}

{{ content }}